<footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
        VueTicket's
    </div>
    <strong>Copyright &copy; 2014-2022 <a href="javascript:void(0);">VueTicket's</a>.</strong> All rights reserved.
</footer>