@using Microsoft.AspNetCore.Http
@using TicketCore.Web.Helpers
@using TicketCore.Web.Resources
@inject LocalizationService LocalizationService
@model TicketCore.ViewModels.Profiles.ChangePasswordViewModel
@{
    ViewBag.PageName = "Authentication";
}

<form autocomplete="off" asp-controller="MyAccount" asp-antiforgery="true" id="frmchangepassword" asp-action="Changepassword" method="post">

    <div class="col-md-3">
        <div class="card card-cyan card-outline">
            <div class="card-header">
                <h3 class="card-title">@LocalizationService.GetLocalizedHtmlString("ChangePassword")</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->

            <div class="card-body">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                <div class="form-group">
                    <label class="mandatory" asp-for="OldPassword"></label>
                    <input asp-for="OldPassword" maxlength="64" placeholder="Enter Old Password" type="password" class="form-control" />
                    <span class="text-danger" asp-validation-for="OldPassword"></span>
                </div>

                <div class="form-group">
                    <label class="mandatory" asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" maxlength="64" placeholder="Enter New Password" type="password" class="form-control" />
                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                </div>

                <div class="form-group">
                    <label class="mandatory" asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" maxlength="64" placeholder="Enter Confirm Password" type="password" class="form-control" />
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>

            </div>
            <div class="card-footer">
                <button type="button" id="btnsubmit" class="btn btn-success">Update Password</button>

                <a asp-area="Administrator" class="btn btn-danger" asp-controller="MyAccount" asp-action="Changepassword">Clear</a>



            </div>
        </div>

    </div>

</form>

<script src="~/scripts/sha256.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnsubmit").click(function () {

            var oldPassword = $('#OldPassword').val();
            var newPassword = $('#NewPassword').val();
            var confirmPassword = $('#ConfirmPassword').val();

            if (oldPassword == '') {
                $.alert("Please Enter Old Password");
                $('#OldPassword').focus();
            }
            else if (newPassword == '') {
                $.alert("Please Enter New Password");
                $('#NewPassword').focus();
            }
            else if (confirmPassword == '') {
                $.alert("Please Enter Confirm Password");
                $('#ConfirmPassword').focus();
            }
            else if (validatePassword($('#NewPassword').val()) == false) {
                $.alert('New Password Must Have Minimum 7 characters at least 1 Alphabet, 1 Number and 1 Special Character !');
                return false;
            }
            else if (newPassword != confirmPassword) {
                $.alert("Please Enter Valid Confirm Password");
                $('#ConfirmPassword').focus();
            }

            else {
                var oldPasswordhash = Sha256.hash(oldPassword, false);
                $('#OldPassword').val(oldPasswordhash);

                var newPasswordhash = Sha256.hash(newPassword, false);
                $('#NewPassword').val(newPasswordhash);

                var confirmPasswordhash = Sha256.hash(confirmPassword, false);
                $('#ConfirmPassword').val(confirmPasswordhash);

                $("#frmchangepassword").submit();
            }

        });


        $("#NewPassword").blur(function (event) {
            if ($("#NewPassword").val() != "") {
                if (validatePassword($("#NewPassword").val()) == false) {
                    alert('New Password Must Have Minimum 7 characters at least 1 Alphabet, 1 Number and 1 Special Character !');
                    $("#NewPassword").val('');
                }

                var data = $("#NewPassword").val().length;
                if (data > 20) {
                    alert('Maximum 20 character password is Allowed!');
                    $("#NewPassword").val('');
                }
            }

        });
    });

    function validatePassword(password) {
        var reg = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@@$!%*#?&])[A-Za-z\d$@@$!%*#?&]{7,}$/;
        if (reg.test(password)) {
            return true;
        } else {
            return false;
        }
    }

</script>
